body {
    margin: 0px;
    font-family: Snell Roundhand, cursive;
    background-color: rgba(200, 61, 200, 0.952);
    
}

header {
    background-color: rgb(138, 46, 138);
}

.name {
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin-left: 25px;
    font-size: 50px;
    font-weight: bold;
}

.nav {
    margin-top: 10px;
}

a.nav-link {
    color:black;
    font-size: 20px;
}

.pix {
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
}

p {
    margin: 20px;
}

h3 {
    margin-top: 20px;
}

h4.resume {
    margin: 10px 0 25px 25px;
}

a {
    color: black;
}

.title-aboutme {
    font-weight: bold;
    margin-top: 20px;
}

.aboutme {
    font-size: 20px;
}

form.flex-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.form-group {
    margin: 10px;
}